.book-container {
  @media only screen and (min-width: 768px) {
    margin-top: 3rem;
  }
  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 3rem;
   
    margin: 2rem auto 0;
    max-width: 130rem;
  }

    .bookInfo {
      display: flex;
      align-items: center;
      flex-direction: column;
      background: $analogous-main-color1;
      text-align: center;
      margin: 2rem 0 3rem 0;
      background:$analogous-main-color2;
      color: $main-color;
      padding: 2rem 0;
      border-radius: 1.5rem;
    
      @media only screen and (min-width: 1024px) {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 2rem;
      }
    
    
      &__title  {
        padding-top: 1rem;
        font-size: 4rem;
        @media only screen and (min-width: 768px) {
          font-size: 5rem;
        }
      }
    
      &__author  {
        padding: 1rem 0;
        font-size: 3rem;
        @media only screen and (min-width: 768px) {
          font-size: 4rem;
        }
      }
    
      &__categories  {
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (min-width: 768px) {
          font-size: 3rem;
        }
      }
    
      &__description {
        max-width: 25rem;
        text-align: start;
        margin: auto;
        font-size: 2rem;
        @media only screen and (min-width: 768px) {
          font-size: 2.5rem;
          max-width: 40rem;
          margin: 0;
          }
          @media only screen and (min-width: 1024px) {
          font-size: 2.5rem;
          max-width: 30rem;
          margin: 0;
        }
      }
    
      &__pageCount  {
      padding: 1rem 0;
      font-size: 2rem;
     }

      &__publishedDate  {
      padding-bottom: 1rem;
      font-size: 2rem;
    }
    
    &__imageContainer{
      &--image {
        width: 25rem;
        height: 40rem;
        padding: 1rem 0 1.5rem 0;
        margin: 2rem 0 3rem 0;
        box-shadow: 0px 0px 10px 1px black;
      }
    }
  }

}

.rating-container {
  // background: $main-color;
  padding: 1.5rem 0;
  border-radius: 1.5rem;
  
  
  text-align: center;
  &__text {
    font-size: 2.5rem;
    font-weight: 700;
    color: $main-color;
  }

  .stars-container {
    &__star {
      color: $main-color;
      font-size: 4rem;
      cursor: pointer;
      margin: 0 .5rem;
      transition: color 0.2s ease;

      &.active {
        color: $star-gold;
      }
    }
  }
}