$main-color: #fff;
$analogous-main-color1: #79765f;
$analogous-main-color2: #859ba4;
$analogous-main-color3: #fab874;

$background: #b3b792;
$star-gold: gold;
$black: #000;

$accent-color1: #a8bdc3;
$accent-color2: #a4859a;

$complementary-color1: #cd9898;
$complementary-color1: #a48b85;


